.App {
  text-align: center;
  background: rgba(240,240,240,1);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: rgba(240,240,240,1);
}

.App-link {
  background: rgba(240,240,240,1);
}

.textarea-css {
  resize: none;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 39%;
  height: 5000%;
  right: 0;
  left: 0;
  outline: none;
  margin: 5% 30% 0;
  border: none;
  font: normal 16px/normal FixEmoji,Roboto Mono,sans-serif;
  color: #111;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(240,240,240,1);
  caret-color: #3c3;
}
::selection {
  background: rgba(51,204,51,.15);
}
body {
  background-color: rgba(240,240,240,1);
}

